body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color: gray;
    color: black;
}

#scene-image{
    width:500px;
    max-width:90%;
    margin:20px auto;
    display: block;
}

#scene-text {
    max-width:600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    font-size:18px
}